<nav class="navbar">
  <div class="nav-links">
    <a routerLink="/" style="font-size: 20px; font-weight: bold;">Ana Sayfa</a>

    <span *ngIf="!authService.isLoggedIn()">
      <a routerLink="/register">Kayıt Ol</a>
      <a routerLink="/login">Giriş Yap</a>
    </span>

    <span *ngIf="authService.isLoggedIn()">
        <a routerLink="/my-orders">📦 Siparişlerim</a>
    </span>
    <span *ngIf="authService.isLoggedIn()">
        <a routerLink="/wishlist">❤️ Favorilerim</a>
    </span>
  </div>

  <div class="nav-right" *ngIf="authService.isLoggedIn()">
    <span>Hoş geldin, <strong>{{ authService.getUser()?.name }}</strong></span>
    <button (click)="logout()" style="background: transparent; border: 1px solid white; color: white; padding: 5px 10px;">Çıkış</button>
  </div>

  <a routerLink="/cart" class="cart-btn">🛒 Sepetim</a>
</nav>
<router-outlet></router-outlet>

<hr style="margin: 30px 0;">

<div *ngIf="authService.isAdmin()" style="background-color: #fff3cd; padding: 20px; border: 2px solid #ffeeba; margin-bottom: 20px;">
  <h2 style="color: #856404;">🛠️ Yönetici Paneli</h2>
  <div style="display: flex; gap: 10px; margin-bottom: 10px;">
    <input type="text" placeholder="Ürün Adı" [(ngModel)]="newProduct.name">
    <input type="number" placeholder="Fiyat" [(ngModel)]="newProduct.price">
    <input type="number" placeholder="Stok" [(ngModel)]="newProduct.stock">
  </div>
  <div style="margin-bottom: 10px;">
    <input type="text" placeholder="Açıklama" [(ngModel)]="newProduct.description" style="width: 100%;">
  </div>
  <div style="margin-bottom: 10px;">
    <input type="text" placeholder="Resim URL" [(ngModel)]="newProduct.imageUrl" style="width: 100%;">
  </div>
  <button (click)="addProduct()" style="background-color: blue; color: white; padding: 10px; cursor: pointer;">+ Ürünü Kaydet</button>
</div>

<div *ngIf="authService.isAdmin()" style="margin: 20px 0; padding: 20px; border: 2px solid #333; background-color: #e9ecef;">
  <h2>📦 Gelen Siparişler (Admin)</h2>

  <table border="1" style="width: 100%; border-collapse: collapse; background-color: white;">
    <tr style="background-color: #ddd;">
      <th style="padding: 10px;">Sipariş No</th>
      <th style="padding: 10px;">Müşteri</th>
      <th style="padding: 10px;">Ürünler</th>
      <th style="padding: 10px;">Tutar</th>
      <th style="padding: 10px;">Tarih</th>
    </tr>

    <tr *ngFor="let order of orders">
      <td style="padding: 10px; text-align: center;">#{{ order.id }}</td>
      <td style="padding: 10px;">{{ order.customerName }}</td>
      <td style="padding: 10px;">{{ order.productList }}</td>
      <td style="padding: 10px; color: green; font-weight: bold;">{{ order.totalPrice }} TL</td>
      <td style="padding: 10px;">{{ order.orderDate }}</td>
    </tr>
  </table>

  <div *ngIf="orders.length === 0" style="text-align: center; padding: 20px;">
    Henüz sipariş yok.
  </div>
</div>

<div *ngIf="authService.isAdmin()" style="margin: 20px 0; padding: 20px; border: 2px solid #333; background-color: #d1ecf1;">
  <h2>👥 Kayıtlı Üyeler (User Management)</h2>

  <table border="1" style="width: 100%; border-collapse: collapse; background-color: white;">
    <tr style="background-color: #bee5eb;">
      <th style="padding: 10px;">ID</th>
      <th style="padding: 10px;">İsim</th>
      <th style="padding: 10px;">Email</th>
      <th style="padding: 10px;">Rol</th>
      <th style="padding: 10px;">İşlem</th>
    </tr>

    <tr *ngFor="let user of users">
      <td style="padding: 10px; text-align: center;">{{ user.id }}</td>
      <td style="padding: 10px;">{{ user.name }}</td>
      <td style="padding: 10px;">{{ user.email }}</td>
      <td style="padding: 10px;">{{ user.role }}</td>
      <td style="padding: 10px; text-align: center;">
        <button (click)="deleteUser(user.id)"
                style="background-color: red; color: white; border: none; padding: 5px 10px; cursor: pointer;">
          ❌ Sil / Banla
        </button>
      </td>
    </tr>
  </table>
</div>

<div style="text-align: center; margin: 20px;">
  <input type="text"
         placeholder="🔍 Ürün Ara..."
         [(ngModel)]="searchTerm"
         (input)="search()"
         style="padding: 10px; width: 50%; border-radius: 20px; border: 1px solid #ccc;">
</div>

<div class="product-container">
  <div *ngFor="let product of products" class="product-card">
    <img [src]="product.imageUrl || 'https://via.placeholder.com/300'" class="product-image">

    <div class="product-details">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <span [style.color]="product.price > 20000 ? 'red' : 'green'">
  {{ product.price }} TL
</span>

      <button *ngIf="!authService.isAdmin()" (click)="addToCart(product)" class="btn-add">
        🛒 Sepete Ekle
      </button>

      <button *ngIf="!authService.isAdmin()" (click)="addToWishList(product)" class="btn-add">
        ❤️ Favorilere Ekle
      </button>

      <button *ngIf="authService.isAdmin()" (click)="deleteProduct(product.id)" class="btn-delete">
        🗑️ Sil
      </button>
    </div>
  </div>
</div>

<div *ngIf="products.length === 0 && searchTerm.length > 0"
     style="text-align: center; margin-top: 50px; color: gray;">

  <h2>😔</h2>
  <h3>Aradığınız kriterlere uygun ürün bulunamadı.</h3>
  <p>Lütfen başka bir kelime deneyin.</p>

</div>
